
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <p class="mb-8 leading-relaxed">
        <span style="color:#FF0000">*</span>
        We are now support only
       <span style="color:#FF0000"> [.docx] </span>
         Extentions only.</p>
      <div class="flex w-full md:justify-start justify-center items-end">
        <div class="relative mr-4 md:w-full lg:w-full xl:w-1/2 w-2/4">
          <label for="hero-field" class="leading-7 text-sm text-gray-600">Drop your file here.</label>
          <form  #myForm="ngForm">
            <input type="file" id="hero-field" (change)="selectFile($event)" name="hero-field"  ngModel
            class="w-full bg-gray-100 rounded border bg-opacity-50 border-gray-300 focus:ring-2 focus:ring-blue-200 focus:bg-transparent focus:border-blue-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </form>
          </div>
        <button class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg" (click)="uploadFileToServer(myForm)"  [disabled]="!selectedFiles" *ngIf="removebtn">Upload</button>
        <button class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg" (click)="downloadpdf()" *ngIf="!removebtn">Download</button>
      </div>
      <p class="text-sm mt-2 text-gray-500 mb-8 w-full" style="color:#FF0000" *ngIf="message">{{message}}
        <span *ngIf="progress"> {{ progress }}%</span>
       </p>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
    </div>
  </div>
</section>