
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-5 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <p class="mb-8 leading-relaxed">
        <span style="color:#FF0000">*</span>
        We are now support only
       <span style="color:#FF0000"> [.docx] </span>
         Extentions only.</p>
      <div class="flex w-full md:justify-start justify-center items-end">
        <div class="relative mr-4 md:w-full lg:w-full xl:w-1/2 w-2/4">
          <label for="hero-field" class="leading-7 text-sm text-gray-600">Drop your file here.</label>
          <form  #myForm="ngForm">
            <input type="file" id="hero-field" (change)="selectFile($event)" name="hero-field"  ngModel
            >
          </form>
          </div>
        </div>
        <hr/><hr/><hr/><hr/>
        <button class=" text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg" (click)="uploadFileToServer(myForm)"  [disabled]="!selectedFiles" *ngIf="removebtn">Upload</button>
        <button class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg" (click)="downloadpdf()" *ngIf="!removebtn">Download</button>
      
      <p class="text-sm mt-2 text-gray-500 mb-8 w-full" style="color:#FF0000" *ngIf="message">{{message}}
        <span *ngIf="progress"> {{ progress }}%</span>
       </p>
    </div>
  </div>
</section>
<hr/>
<hr/>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/3">
        <div class="h-full  bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative" style="background-color:#dfe0e3">
          <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Source Code</h2>
          <p class="leading-relaxed mb-3"></p>
          <a class="text-indigo-500 inline-flex items-center" href="https://github.com/shubhamp861/convert_word_pdf">Angular UI code Repo.
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <a class="text-indigo-500 inline-flex items-center" href="https://github.com/shubhamp861/wordToPdfBackend">Spring Boot Code Repo
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
     </div>
  </div>
</section>