<div *ngIf="currentFile" class="progress">
    <div
      class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar"
      attr.aria-valuenow="{{ progress }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progress + '%' }"
    >
      {{ progress }}%
    </div>
  </div>
  <form  #myForm="ngForm">
    <label class="btn btn-default">
      <input type="file" (change)="selectFile($event)" ngModel name="fileuploadtest"/>
    </label>
  </form>
  
  
  <button class="btn btn-success" [disabled]="!selectedFiles" (click)="downloadPdf(myForm)">
    Upload
  </button>
